*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    height: 600px;
    width: 600px;
    background-color:white;
    border: none;
    border-radius: 20px;
    
}
.assignment-title{
    font-size: medium;
    margin-top: 20px;
    margin-left: 20px;
}
.input-details{
    display: flex;
    flex-direction: column;
}
#Select-vehicle,#operator{
    height: 30px;
    width: 90%;
    background-color: silver;
    border-radius: 15px;
    margin-left: 20px;
   margin-top: 10px;
    border: none;
    padding-left: 20px;
}
.label-text{
   margin-top: 20px;
   margin-left: 20px;
}
#date,#time,#comment{
     height: 30px;
     width: 75%;
     background-color: silver;
    border-radius: 10px;
    margin-left: 20px;
   margin-top: 10px;
    border: none;
    padding-left: 20px;
}
.input-group{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}
.date-field{
    display: flex;
    flex-direction: column;
    width: 45%;
}
#comment{
    height: 100px;
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    border: 1px solid black;
}
#button-group {
    display: flex;
    justify-content: space-between; /* Cancel left, Save right */
    margin-top: 20px;
    padding: 0 20px;
}

#btn-1, #btn-2 {
    height: 40px;
    width: 100px;
    background-color: #4169E1;
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}