*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: slategrey;
}
#container{
    display: flex;
    height: 100%;
    width: 100%;
    
}
.left{
    height: 1200px;
    width: 200px;
    background-color: #004687;
    margin-left: 50px;
    margin-top: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.left-div-one{
    height: 500px;
    width: 150px;
/* border: 3px solid aqua;  */
   margin-top: 50px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: white;
    text-align: center;
    
}
.left-div-one select{
    height: 40px;
    border: none;
    border-radius: 6px;
}
li{
    list-style: none;
 
}
.setting-and-logout{
     margin-top: 140px;
     display: flex;
     flex-direction: column;
     gap: 20px;
}
#horizantal-line{
    height: 2px;
    width: 1130px;
    margin-top: 20px;
    background-color: gainsboro;
}
#search-bar{
    height: 30px;
    width: 400px;
    border: none;
    border-radius: 50px;
    background-color: #004687;
    color: white;
   margin-top: 50px;

   margin-left: 500px;
   text-align: center;
}
.right{
    background-color: white;
    height: 1200px;
    width: 80%;
     margin-top: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.vehicles-heading{
    margin-left: 20px; 
    margin-top: 10px;
    font-size: 0.8rem; 
    font-weight: 400;
}
#vehicles-navbar{
    display: flex;
    gap: 20px;
    margin-left: 20px;
    margin-top: 30px;
    text-decoration: underline;
}
li{
   list-style: none; 
}
.navbar-btn{
   
    height: 30px;
    width: 150px;
    background-color: #004687;
    border-radius: 10px;
    color: white;
    border: none;
    margin-top: -15px;
    margin-left: 600px;
    font-size: 1rem;
    margin-left: 700px;
}
#form{
   
}
.basic-details,.login-details{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 400px;
    width: 94%;
   background-color: silver;
    margin-left: 20px;
    margin-top: 30px;
   
    border-radius: 20px;
}
.input-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    margin-top: 20px;
}
#first-name , #last-name{

    height: 40px;
    width: 500px;
    border: none;
    border-radius: 10px;
   margin-right: 50px;
    margin-top: 10px;
    
}
#mail , #Group{

    height: 40px;
    width: 500px;
    border: none;
    border-radius: 10px;
   margin-right: 50px;
    margin-top: 10px;
    
}
.input-details label{
    margin-top: 20px;
}
.btn1{
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 50px;
    align-items: flex-start;
    margin-top: 10px;
}
.photo-text{
    font-size: 0.8rem;
    margin-left: 10px;
    margin-top: 20px;
}
.login-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 400px;
    width: 94%;
   background-color: silver;
    margin-left: 20px;
    margin-top: 30px;
   
    border-radius: 20px;
}
.login-title{
    font-size: 0.9rem;
    margin-top: 10px;
    margin-left: 20px;

}
#password , #mail{

    height: 40px;
    width: 94%;
    border: none;
    border-radius: 10px;
    margin-right: 50px;
    margin-top: 10px;
    padding-left: 20px;
    
}
/* #classification-details{ */
     /* display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; */
    /* height: 400px;
    width: 94%;
   background-color: silver;
    margin-left: 20px;
    margin-top: 30px;

    border-radius: 20px;
}
.classification-title{
    font-size: 1rem;
    margin-top: 20px;
    margin-left: 20px;
} */
 #contact-information{
   width: 94%;
   height: 400px;
    background-color: silver;
    margin-left: 20px;
    margin-top: 30px;
    border-radius: 20px;
    padding: 20px;
}

.contact-title {
     font-size: 1rem;
    margin-left: 10px;
    margin-bottom: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 45%;
}
.contact-fields {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap; 
    gap: 20px;
}
.input-group input {
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 10px;
}
#address{
    width: 1060px;
   margin-left: -280px;
}





