*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: slategrey;
}
#container{
    display: flex;
    height: 100%;
    width: 100%;
    
}
.left{
    height: 600px;
    width: 300px;
    background-color: #004687;
    margin-left: 50px;
    margin-top: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.right{
    width: 1130px;
    height: 600px;
    background-color: white;
    margin-top: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.left-div-one{
    height: 500px;
    width: 200px;
/* border: 3px solid aqua;  */
   margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 55px;
    color: white;
    text-align: center;
    
}
.left-div-one select{
    height: 40px;
    border: none;
    border-radius: 6px;
}
li{
    list-style: none;
 
}
.right{

}
#horizantal-line{
    height: 2px;
    width: 1130px;
    margin-top: 20px;
    background-color: gainsboro;
}
#search-bar{
    height: 30px;
    width: 400px;
    border: none;
    border-radius: 50px;
    background-color: #004687;
    color: white;
   margin-top: 50px;

   margin-left: 500px;
   text-align: center;
}



.search-box{
    
}
.vehicles-heading{
    margin-left: 20px; 
    margin-top: 10px;
    font-size: 1rem; 
}
#vehicles-navbar{
    display: flex;
    gap: 20px;
    margin-left: 20px;
    margin-top: 30px;
    text-decoration: underline;
}
.navbar-btn{
    text-decoration: none;
    height: 40px;
    width: 200px;
    background-color: #004687;
    border-radius: 10px;
    color: white;
    border: none;
    margin-top: -15px;
    margin-left: 600px;
    font-size: 1rem;

}
button{
    text-decoration: none;
   
}

#search-box-1{
    height: 30px;
    width: 250px;
    border-radius: 50px;
    border: 1px solid black;
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
}
.navbar-options{
    height: 30px;
    width: 150px;
    border-radius: 50px;
    background-color: silver;
    border: none;
    text-align: center;
    gap: 20px;
    margin-left: 40px;
}
#sub-navbar{
    display: flex;
    height: 40px;
    width: 91%;
    background-color: silver;
    gap: 45px;
    margin-left: 20px;
    margin-top: 30px;
    align-items: center;
    padding-left: 10px;
   
}
#vehicles-details{
    display: flex;
    margin-left: 30px;
    gap: 40px;
    margin-top: 20px;
    
}
#vehicles-details li {
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}

